## Introduction

In [ ]:
#!/usr/bin/env python3
# -*- coding:utf-8 -*-

In [82]:
num_students =34
course = 'Python Programming'
my_name = "priya"

In [83]:
formatter = '%r %7.4f'
print (formatter%(course,num_students))

'Python Programming' 34.0000

In [84]:
formatter = '{0:30} : {1:03}'
print (formatter.format(course, num_students))

Python Programming             : 034

In [85]:
print ('1. introduction tab \t here')
print ('2. introduction newline \n here')
print ('print double quotes" here')
print ('this is a single quote \' in the line')

1. introduction tab 	 here
2. introduction newline
 here
print double quotes" here
this is a single quote ' in the line

In [86]:
array = [1,2,3,5,6]
pivot = 4
#loop through the list
for x in array:
    if x < pivot:
        print ("number is smaller")
    else:
        print ("number is bigger")

number is smaller
number is smaller
number is smaller
number is bigger
number is bigger

In [87]:
print(type(array)) #this is a list
print(type(10)) # this is an integer
print(type(9.81)) # this is float
print(type({'name' : 'cdac'})) #  this is dictionary
print(type({1,2,3})) #this is set
print(type((1,2,3))) #this is tuple

<class 'list'>
<class 'int'>
<class 'float'>
<class 'dict'>
<class 'set'>
<class 'tuple'>

In [88]:
print (type(10 +5j))  #complex class if there is int and stirng together

<class 'complex'>

In [89]:
stringD = 'hello,world'
list_data = [1,2,3]
tupleA = (1,2,3)
print (type (stringD))
print(type(list_data)) #[1,2,3]
print (type(tupleA)) #(1,2,3)

<class 'str'>
<class 'list'>
<class 'tuple'>

In [90]:
person = {'name':'priyanka', 'age' : 25}  #dictionary type
print (type(person))

<class 'dict'>

In [91]:
set_data = {1,2,3,4,5} #set it means it has to be unique and no value should be repeat
frozen_set = frozenset({1,2,3,4,5})  #imutable means cant be changed
print (type(set_data))
print (type(frozen_set))

<class 'set'>
<class 'frozenset'>

In [92]:
# + adittion
5 // 2  # give remiander

2

In [93]:
x = 5
y = 10
print (x == y) #false
print (x != y) #true
print (x > y) #false
print (x < y) #true

False
True
False
True

In [94]:
# or ,and ,not  

a = True
b = False

print (a and b) #false
print (a or b) #true
print (not b) #true

False
True
True

In [95]:
# &,|,^,~,<<,>>  #bitwise operators

x = 10
y = 4

print (f'{x:b},{y:b}') #to prinnt in binary values of x and y
result = x^y         #xor operation performned
print (f'{result} is {result:b}')  #gives output in binar

1010,100
14 is 1110

In [96]:

x = 14
y = 10

print (f'{x:b},{y:b}') #to prinnt in binary values of x and y , f means formatting and then their is placeholder {}
result = x & y        #bitwise and operation perfomed
print (f'{result} is {result:b}')

1110,1010
10 is 1010

In [97]:
x = 14
y = 10

print (f'for x = {x:b}, and y ={y:b}')  #taking for it will print value

for x = 1110, and y =1010

In [98]:
#num -> -num+1
num = 10
print (f'~{num: b}  = {~num : b}')   #firts ~(num) gives positve 10,~it treated as normal symbol to print as it is and another (~num) gives negative 10

~ 1010  = -1011

In [99]:
num = 10
print (f'{num: b}>>2  = {num>>2 : b}')   #right shift by two
print (f'{num: b}>>2  = {num>>2 }')

 1010>>2  =  10
 1010>>2  = 2

In [100]:
num = 10
print (f'{num: b}<<2 = {num<<2 : b}')  #left shift by two
 
print (f'{num: b}<< = {num<<2 }')

 1010<<2 =  101000
 1010<< = 40

In [101]:
fruits =['apple', 'banana','cherry'] #searching elements
'mango' in fruits

False

In [102]:
#identity
a = [1,2,3]   
b = a            #assign a to b
c =[1,2,3]
print(a is b)    
print(c is b)    #prints false bcox c and b areent in same location
print(c is a)

True
False
False

In [103]:
a = 10.2
b = (type(int(a))) #type casting float is changed to int here
print (b)

<class 'int'>

In [104]:
a = 10.2
b = int(a) #type casting float into int and print int value
print (b)

10

In [105]:
g_val ='I am global'
def fn_my():            #function declare
    print (g_val)       #print string

fn_my()                 #function call

I am global

In [106]:
def fn1():
    g_val ='i am local'  #declared a local variable
    print (g_val)

fn1()

i am local

In [107]:
from Utils import greetmodule as gm #function call after importing rename greetmodule as gm  .. with using gm variable
print (gm.greet('PK'))

Hello,PK!

In [108]:
from Utils.greetmodule  import greet #we can directly import like this without using variable
print (greet('PK'))

Hello,PK!

In [109]:
dir(str)            #predefined keywords

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mod__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmod__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'capitalize',
 'casefold',
 'center',
 'count',
 'encode',
 'endswith',
 'expandtabs',
 'find',
 'format',
 'format_map',
 'index',
 'isalnum',
 'isalpha',
 'isascii',
 'isdecimal',
 'isdigit',
 'isidentifier',
 'islower',
 'isnumeric',
 'isprintable',
 'isspace',
 'istitle',
 'isupper',
 'join',
 'ljust',
 'lower',
 'lstrip',
 'maketrans',
 'partition',
 'removeprefix',
 'removesuffix',
 'replace',
 'rfind',
 'rindex',
 'rjust',
 'rpartition',
 'rsplit',
 'rstrip',
 'split',
 'splitlines',
 'startswith',
 'strip',
 'swapcase',
 'title',
 'translate',
 'upper',
 'zfill']

In [110]:
#condition statement
x = 10
if x > 5:
    print(x)
else:
    print('error')

10

In [111]:
#Above code in one line
print ('postive' if x > 0 else 'negative')

postive

In [112]:
#nested if else

a = 0
if a > 0 and a % 2 == 0:
    print ('Postive even number')
elif a > 0 and a % 2 != 0:
    print ('postive number')
elif a == 0:
    print ('zero')
else:
    print ('A is negative number')

zero

In [113]:
#While loop

count = 0
while count < 5:
    if count == 3:
        count = count +1
        continue
    print (count)
    count +=1

0
1
2
4

In [114]:
count = 0
while True:
    if count == 3:
        count  += 1
        continue
    print (count)
    count += 1
    if count > 5:
        break

0
1
2
4
5

In [115]:
numbers = [1,2,3,4,5]
s = len(numbers)

#print(s)

for count in range(s):
    print (numbers[count])

1
2
3
4
5

In [116]:
#string iterate
error = 'python error'
for l in error:
    print(l)

p
y
t
h
o
n

e
r
r
o
r

In [117]:
#Looping with a dictionary
person = {'first_name':'Riya',
          'last_name':'sharma',
          'age':25,
          'country':'India',
          'is_married':False,
          'skills':['C','c++','python'],
          'address':{'street':'ABC street','zipcode':'123456'
                     }
        }
for key in person:
    print(f'key:{key}')
print ('-'*50)

for key in person:
    print(f'key:{key}|value:{person[key]}')
print('-'*50)

for key,value in person.items():
    print(f'key:{key}|value:{value}')
else:
    print('Done with person')
print('-'*50)

key:first_name
key:last_name
key:age
key:country
key:is_married
key:skills
key:address
--------------------------------------------------
key:first_name|value:Riya
key:last_name|value:sharma
key:age|value:25
key:country|value:India
key:is_married|value:False
key:skills|value:['C', 'c++', 'python']
key:address|value:{'street': 'ABC street', 'zipcode': '123456'}
--------------------------------------------------
key:first_name|value:Riya
key:last_name|value:sharma
key:age|value:25
key:country|value:India
key:is_married|value:False
key:skills|value:['C', 'c++', 'python']
key:address|value:{'street': 'ABC street', 'zipcode': '123456'}
Done with person
--------------------------------------------------