## List Tuple And Set

In [1]:
#!/usr/bin/env python3
# -*- coding:utf-8 -*-

In [2]:
lst = ['apple','banana']
lst

['apple', 'banana']

In [3]:
mix_list = ['Mohan',#string
            25,     #int
            True,   #Boolean
            {'city':'Pune',
             'locality':'pashan'}] #Dict

mix_list

['Mohan', 25, True, {'city': 'Pune', 'locality': 'pashan'}]

In [4]:

mix_list[-1]

{'city': 'Pune', 'locality': 'pashan'}

In [5]:
type(mix_list[-1]) #to show last element type

dict

In [6]:
name,age,isStudent,address = mix_list

isStudent

True

In [7]:
print(name)
type(name)
print(isStudent)
type(isStudent)
print(age)
type(age)
print(address)
type(address)

Mohan
True
25
{'city': 'Pune', 'locality': 'pashan'}

dict

In [8]:
lst = [1,2,3,4,5,6,7,8]
a,b,c,*rest = lst
print(a)   #store in a=1 2=b and c=3
print(rest) #other list elements are go in *rest

1
[4, 5, 6, 7, 8]

In [9]:
lst = [1,2,3,4,5,6,7,8]
a,b,c,*rest,d = lst
print(a,d)   #store in a=1 2=b and c=3
print(rest) #other list elements are go in *rest

1 8
[4, 5, 6, 7]

In [10]:
fruits = ['apple','banana','mango','orange','lemon']
print (fruits[1:4])  # it will pick upto 1 to index 3
print(fruits[::2])  #another way of calling list skipping two step
fruits[::-1] #reverse string
fruits[:2] #upto index 0 and 1 item will print 
fruits[2:] #strating from index to till end

['banana', 'mango', 'orange']
['apple', 'mango', 'lemon']

['mango', 'orange', 'lemon']

In [11]:
fruits[0] = 'tomato'#to replace word 

fruits
len(fruits) #length of string

5

In [12]:
'banana' in fruits #to check list

True

In [13]:
#append
fruits.append('lime') #to append at lastend only
fruits

['tomato', 'banana', 'mango', 'orange', 'lemon', 'lime']

In [14]:
#insert
fruits.insert(4,'cherry') #to insert element inbetween list at specific postion
fruits

['tomato', 'banana', 'mango', 'orange', 'cherry', 'lemon', 'lime']

In [15]:
#delete element from last end
fruits.pop()

'lime'

In [16]:
fruits.pop(0) #delete specific index element

'tomato'

In [17]:
print (f'Before:{fruits}')
del fruits[1:3]     #delete range of index 
print (f'after:{fruits}')

Before:['banana', 'mango', 'orange', 'cherry', 'lemon']
after:['banana', 'cherry', 'lemon']

In [18]:
fruits.remove('lemon')

In [19]:
fruits

['banana', 'cherry']

In [20]:
fruits = ['apple','banana','mango']
other_fruits = fruits.copy()
other_fruits.append('lemon')
fruits.pop(0)

print (other_fruits)
print(fruits)

['apple', 'banana', 'mango', 'lemon']
['banana', 'mango']

In [21]:
neg = [-5,-4,-3,-2,-1]
zero = [0]
pos =[1,2,3,4,5]
ints = neg + zero + pos #to connect 3 list into one
ints

[-5, -4, -3, -2, -1, 0, 1, 2, 3, 4, 5]

In [22]:
neg.extend(zero) #inplace extension 2nd method to connect

In [23]:
#neg.extend([zero,pos]) #at a time connect neg to zero and pos to put them into list

In [24]:
for lst in [zero,pos]:
    neg.extend(lst)
neg

[-5, -4, -3, -2, -1, 0, 0, 1, 2, 3, 4, 5]

In [25]:
num = [0,0,0,0,1,1,1,1,0,0]
num.count(0)

6

In [26]:
num.index(1)

4

In [27]:
num.reverse()
num

[0, 0, 1, 1, 1, 1, 0, 0, 0, 0]

In [28]:
fruits = ['apple','banana','mango','orange','lemon']
fruits.reverse()
fruits

['lemon', 'orange', 'mango', 'banana', 'apple']

In [29]:
fruits.sort(reverse=True) #inplace change

In [30]:
fruits = fruits.sort(reverse=True) #if we will store into any variable it will get none output
fruits

In [31]:
print(fruits) #example of this

None

In [32]:
sorted(fruits) #not part of list its a python function

TypeError: 'NoneType' object is not iterable

In [43]:
#TUPLES:ARE IMMUTABLE

tup = ()
tup

()

In [44]:
tup =('banana','cherry','lemon','lime','mango')
tup

('banana', 'cherry', 'lemon', 'lime', 'mango')

In [45]:
len(tup) #length of tup

5

In [47]:
tup[-1] #tup can access by index

'mango'

In [48]:
tup[::-1]

('mango', 'lime', 'lemon', 'cherry', 'banana')

In [49]:
tup[1:4]

('cherry', 'lemon', 'lime')

In [50]:
tup[:2]

('banana', 'cherry')

In [55]:
tup[-3:-1]

('lemon', 'lime')

In [56]:
list(tup)

['banana', 'cherry', 'lemon', 'lime', 'mango']

In [57]:
tup1 = ('jackfruit','tomato')
tup + tup1

('banana', 'cherry', 'lemon', 'lime', 'mango', 'jackfruit', 'tomato')

In [58]:
del tup1
tup1

NameError: name 'tup1' is not defined

In [60]:
#set contains unique words

fruits = {
    'banana', 'cherry', 'lemon', 'lime', 'mango', 'jackfruit', 'tomato','tomato'
}
fruits

{'banana', 'cherry', 'jackfruit', 'lemon', 'lime', 'mango', 'tomato'}

In [33]:

#Difference function
python = {'p', 'y', 't', 'o','n'}
dragon = {'d', 'r', 'a', 'g', 'o','n'}
display(python.difference(dragon))     # {'p', 'y', 't'}  - the result is unordered (characteristic of sets)
display(dragon.difference(python))     # {'d', 'r', 'a', 'g'}

{'p', 't', 'y'}

{'a', 'd', 'g', 'r'}

In [34]:
#symmetric_difference
python = {'p', 'y', 't', 'h', 'o','n'}
dragon = {'d', 'r', 'a', 'g', 'o','n'} #it make python and dragon union first and  then take unquie values in it
display(python.symmetric_difference(dragon))  # {'r', 't', 'p', 'y', 'g', 'a', 'd', 'h'}

{'a', 'd', 'g', 'h', 'p', 'r', 't', 'y'}

In [1]:
numbers = [10,21,4,45,66,93]

even_sum = 0
for num in numbers:
    if num % 2 == 0:
        even_sum += num

print ("sum of even numbers",even_sum)

sum of even numbers 80

In [2]:
#serach number with index

numbers = [3,8,7,1,5]
search_value = 7

if search_value in numbers:
    res = f"{search_value} found at position {numbers.index(search_value)}"
else:
    res = f"{search_value} not found"
print(res)

7 found at position 2

In [3]:
#remove number

numbers = [1,2,3,4,3,5,3,6]
remove_val = 4

#new_list = [num for num in numbers if num != remove_val] insted of these
for num in numbers:
    if num!= remove_val:
        new_list = num

print ("List after remove",remove_val,":", new_list)

List after remove 4 : 6

In [5]:
#unique value
numbers = [1,2,3,5,3,2,1,5,6,7,8,9]
unique_num = list(set(numbers))
print("unique numbers:",unique_num)

Object `unique` not found.

In [7]:
set1 ={1,2,3,4}
set2 ={3,4,5,6}
print("union of sets:" , set1.union(set2))
print("intersection of sets:" , set1.intersection(set2))
print("difference of (set1 - set2):" , set1.difference(set2))
print("difference of (set2 - set1):" , set2.difference(set1))
print("symmetric difference :" , set2.symmetric_difference(set1))

union of sets: {1, 2, 3, 4, 5, 6}
intersection of sets: {3, 4}
difference of (set1 - set2): {1, 2}
difference of (set2 - set1): {5, 6}
symmetric difference : {1, 2, 5, 6}

In [9]:
lst = [1,2,3,1,4,5,6,4,7]
longest_sublist = []
current_sublist = []

for num in lst:
    if num in current_sublist:
        if len(current_sublist) > len(longest_sublist):
            longest_sublist = current_sublist

        current_sublist = current_sublist[current_sublist.index(num) + 1:]
    
    current_sublist.append(num)
print (max(longest_sublist, current_sublist, key=len))

[2, 3, 1, 4, 5, 6]

[1]