In [3]:
emp_no = 1034
desitination = 'software Devloper'
emp_name = "Priyanka"

In [5]:
formatter = '%r %7.4f'
print(formatter%(desitination,emp_no))

'software Devloper' 1034.0000

In [21]:
formatter = '{0:1} : {1:4}'
print(formatter.format(desitination,emp_no))

software Devloper : 1034

In [23]:
print('1.Introduction tab \t here')
print('2.Introduction newline \n here')
print('print double quotes \" here')
print('this is a single quote \' in the line')

1.Introduction tab 	 here
2.Introduction newline
 here
print double quotes " here
this is a single quote ' in the line

In [45]:
array = [1,2,3,45,32,22]
a2 = []
pivot = 3
for x in array:
    if x > pivot:
       a2.append(x)
       
print(a2)

[45, 32, 22]

In [46]:
print(type(array))
print(type(10))
print(type(9.81))
print(type({'name' : 'cdac'}))
print(type({1,2,3}))
print(type((1,2,3)))

<class 'list'>
<class 'int'>
<class 'float'>
<class 'dict'>
<class 'set'>
<class 'tuple'>

In [47]:
print(type(10+5j))

<class 'complex'>

In [49]:
string_data = "name"
lis = [1,2,3]
tuple = (3,4,5)
dist = {'name':'riya','age':25,'city':'pune'}

print(type(string_data))
print(type(lis))
print(type(tuple))
print(type(dist))

<class 'str'>
<class 'list'>
<class 'tuple'>
<class 'dict'>

In [50]:
dist

{'name': 'riya', 'age': 25, 'city': 'pune'}

In [53]:
set_data = {1,2,3,4,5}
frozen_set = frozenset({2,3,4,5})
print(type(set_data))
print(type(frozen_set))

<class 'set'>
<class 'frozenset'>

In [54]:
5 // 2

2

In [55]:
x = 156
y = 100
print (x == y)
print (x != y)
print (x > y)
print (x < y)

False
True
True
False

In [56]:
x1 = True
y1 = False

print(x1 and y1)
print(x1 or y1)
print(not x1)

False
True
False

In [57]:
a1 = 30
b1 = 4

print (f'{x:b},{y:b}')
result1 = x^y
print (f'{result1} is {result1:b}')

10011100,1100100
248 is 11111000

In [58]:
x2 = 10
y2 = 20

print (f'for x2 = {x2:b}, and y ={y2:b}')

for x2 = 1010, and y =10100

In [59]:
number = 20
print (f'~{number: b} = {~number : b}')

~ 10100 = -10101

In [60]:
number1 = 30
print (f'{number1: b}>>2 = {number1>>2 : b}')
print (f'{number1: b}>>2 ={number1>>2}')

 11110>>2 =  111
 11110>>2 =7

In [61]:
fruits = ['apple', 'banana','cherry']
'mango' in fruits

False